@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #000000;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  scrollbar-width: 0;
  background-color: #171717;
  color: var(--foreground);
  background: var(--background);
  font-family: "Orbitron-Regular", Arial, Helvetica, sans-serif;
}

.contenedorPadre {
  scrollbar-width: 0px;
  width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 0;
}


/* Estilos para el menú hamburguesa */
.hamburger span {
  transition: all 0.3s ease;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Ajustes para la animación por defecto si la tienes definida */
.animacionPorDefecto {
  /* Tus estilos existentes */
}

/* Media queries adicionales si necesitas ajustes específicos */
@media (max-width: 768px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* 
h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }
}

p {
  line-height: 1.5;
}

h1,
h2 {
  line-height: 1.4;
} */