.contenedorSecundario {
    height: 300vh;
    width: 100vw;
    background-color: black;
}

.animacionPorDefecto {
    animation: liquidPorDefecto 80s infinite;
}

@keyframes liquidPorDefecto {
    0% {
        transform: translateY(0px);
    }

    5% {
        transform: translateY(-15px);
        transform: rotateY('-0px');
        animation-timing-function: ease-in-out;

    }

    15% {
        transform: translateY(10px);
        animation-timing-function: ease-in-out;
        /* Baja lento */
    }

    25% {
        transform: translateY(-10px);
        animation-timing-function: ease-in-out;
    }

    35% {
        transform: translateY(5px);
        animation-timing-function: ease-in-out;
    }

    50% {
        transform: translateY(-5px);
        animation-timing-function: ease-in-out;
    }

    65% {
        transform: translateY(0px) translateX(2px);
        animation-timing-function: ease-in-out;
    }

    80% {
        transform: translateY(-2px) translateX(-1px);
        animation-timing-function: ease-in-out;
    }

    100% {
        transform: translateY(0px) translateX(0px);
    }
}